html {
	margin: 0;
	background: #AFAFAF;
}
body {
	margin: 0;
	padding: 0;
}
.box {
	font-family: sans-serif;
	margin: 1em auto;
	background: #DFDFDF;
	padding: 1em;
	border-radius: 1em;
	box-shadow: 0 0 0.5em black,
	            0 0 0.5em #7F7F7F inset;
}
.text {
	width: 35em;
}
.text h1, .text h2 {margin: 0}

.text h1 {color: #3F0000; font-size: 2.5em}
.text h2 {color: #003F00; font-size: 2em}
.text    {color: #1F1F1F; font-size: 1.25em}

.tag {font-family: monospace}
.ref {font-size: 0.6em; position: relative; bottom: 0.4em}

.side {
	position: fixed;
	float: left;
	margin-top: 0;
	margin-left: -10em;
	padding-left: 11em;
}
#toc a {
	display: block
}
#toc a.h1 {
	counter-increment: h1;
	counter-reset: h2;
}
#toc a.h2 {
	counter-increment: h2;
	margin-left: 0.5em;
}
#toc a.h1::before {content: counter(h1) ". "}
#toc a.h2::before {content: counter(h1) "." counter(h2) ". "}

#logo {
	display: block;
	text-align: center;
	color: #007F00;
	font-family: "Fredericka the Great";
	font-size: 4em;
	text-decoration: none;
}
